<div class = "container">
    <div class = "jumbotron">
        <h3>Your Projects</h3>
        <table class = "table table-borderless">
            <tr>
                <th scope = "col">Title</th>
                <th scope = "col">Description</th>
                <th scope = "col">Code</th>
                <th scope = "col"></th>
                <th scope = "col"></th>
                <th scope = "col"></th>
            </tr>
            <% @projects.each do |project| %>
                <% if project.users.include?(current_user) %>
                    <tr>
                        <td><%= project.title %></td>
                        <td><%= project.description %></td>
                        <td><%= project.code %></td>
                        <td><%= link_to "Show", project_path(project) %></td>
                        <td><%= link_to "Edit", edit_project_path(project) %></td>
                        <td><%= link_to "Destroy", project_path(project),
                                method: :delete,
                                data: { confirm: "Are you sure?"} %></td>
                    </tr>
                <% end %>
            <% end %>
        </table>
        <%= link_to "New Project", new_project_path, class: "btn btn-primary" %>
    </div>
</div> 