<div class = "container">
    <div class = "jumbotron" style = "margin-top:3%;">
        <p>
            <strong>Title:</strong>
            <%= @project.title %>
        </p>
        <p>
            <strong>Description:</strong>
            <%= @project.description %>
        </p>
        <p>
            <strong>Code:</strong>
            <%= @project.code %>
        </p>
        <% if @project.qas.length + @project.developers.length > 0  %>
            <h3>Assigned QAs/Developers on this project</h3>
            <table class = "table table-borderless">
                <tr>
                    <th scope = "col">Email</th>
                    <th scope = "col">Role</th>
                    <th scope = "col"></th>
                </tr>
            
                <% @project.developers.each do |user| %>
                    <tr>
                        <td><%= user.email %></td>
                        <td><%= user.type %></td>
                        <% if policy(@project).remove_user? %>
                            <td><%= link_to "Remove", remove_user_project_path(:user_id => user.id, :project_id => @project.id) %></td>
                        <% end %>
                    </tr>
                <% end %>
                <% @project.qas.each do |user| %>
                    <tr>
                        <td><%= user.email %></td>
                        <td><%= user.type %></td>
                        <% if policy(@project).remove_user? %>
                            <td><%= link_to "Remove", remove_user_project_path(:user_id => user.id, :project_id => @project.id) %></td>
                        <% end %>
                    </tr>
                <% end %> 
            </table>
        <% end %>
        <% if @project.bugs.length > 0 %>
            <h2>Bugs</h2>
            <table class = "table table-borderless">
                <tr>
                    <th scope = "col">Bug Title</th>
                    <th scope = "col">Deadline</th>
                    <th scope = "col">Type</th>
                    <th scope = "col">Status</th>
                    <th scope = "col"></th>
                    <th scope = "col"></th>
                    <th scope = "col"></th>
                </tr>
                <%= render @project.bugs %>
            </table>
        <% end %>
        <%= link_to "Back", projects_path, class: "btn btn-light"%>
        <% if policy(@project).edit? %>
            <%= link_to "Edit", edit_project_path( @project ), class: "btn btn-light"%>
        <% end %>
        <% if policy(@project.bugs.new).new? %>
            <%= link_to "Add Bugs", new_project_bugs_path(@project), class: "btn btn-light"%>
        <% end %>
        <% if policy(@project).assign_user? %>
            <%= link_to "Assign Developer/QA",users_projects_path(:id => @project.id), class: "btn btn-light"%>
        <% end %>
    </div>
</div> 